.heading_div{
    background-color: blueviolet;
    font-size: 23px;
    margin: 0px;
    top: 0px;
    width:100%;
    color: #f70a35;
}
.copy_right_footer{
    position:fixed;
    text-align: center;
    bottom:0;
    background-color: crimson;
    color:darkgrey;
    font-family: 'Special Elite', cursive;
    line-height: 3;
    width:100%;
    font-size:18px;
    text-shadow: 5px 5px 5px gray;
}
body{
    background-color: burlywood;
}
.heading_div p{
    font-family: 'Roboto',sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
}
.main_div button{
    font-family: 'Roboto',sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
#result_label,#result_confidence{
    font-family: 'Hina Mincho', serif;
}